.hello-inner{
    display: flex;
    padding-top: 12rem;
    align-items: center;
    justify-content: space-evenly;
    // gap: 3rem;

    @media screen and (max-width:1111px) {
        flex-direction: column;
        gap: 6rem;    
        }
    >.img-wrap {
        border-radius: 2rem;
        overflow: hidden;
        // flex: 1;
        width: 45rem;
        height: 45rem;
    }
    

    .t-wrap {
        text-align: center;
        // width: 63rem;
        h2.tit {
            color:#ED572C;
            font-weight: 800;
            margin: 3rem 0 2rem;
        }
    }

    a.btn {
        background-color: #000;
        
    }
    
}